---
import FileTabs from "../../../components/layout/example-preview/lib/FileTabs.astro"
import ExampleTOC from "../../../components/layout/examples/ExampleTOC.astro"
import { PATTERNS } from "../../../data"
import ExampleLayout from "../../../layouts/examples/ExampleLayout.astro"

export function getStaticPaths() {
	const paths = PATTERNS.map(({ label }) => {
		return { params: { pattern: label } }
	})
	return paths
}

const { pattern: slug } = Astro.params

const [filteredpattern] = PATTERNS.filter((pattern) => {
	if (pattern.label === slug) {
		return pattern
	}
})

const {
	component: PagePatternExample,
	name: PagePatternName,
	label: PagePatternLabel,
	files: PagePatternFiles,
	variants,
} = filteredpattern

const pageTitle = `TLT - ${PagePatternName}`
---

<ExampleLayout slug={slug} title={pageTitle}>
	<div class="flex w-full flex-col items-center justify-start gap-16">
		<section
			id={`default-${PagePatternLabel}`}
			class="flex w-full flex-col items-start justify-center gap-8"
		>
			<h2 slot="example-name" class="w-full text-4xl font-medium">
				{PagePatternName}
			</h2>
			{
				PagePatternExample && (
					<div class="flex w-full flex-col items-center justify-center gap-8 rounded-md bg-slate-800 py-8">
						<div class="flex min-h-40 w-full flex-col items-center justify-start">
							<PagePatternExample />
						</div>
						<div class="h-auto w-full px-8 text-sm">
							{PagePatternFiles && <FileTabs files={PagePatternFiles} />}
						</div>
					</div>
				)
			}
		</section>
		{
			variants &&
				variants.map(({ label, name, component: VariantComponent, files }) => {
					return (
						<section id={label} class="flex h-max w-full flex-col items-start justify-center gap-4">
							<h2 class="w-full text-4xl font-medium">{name}</h2>
							{VariantComponent && (
								<div class="flex w-full flex-col items-center justify-center gap-8 rounded-md bg-slate-800 py-8">
									<div class="flex min-h-40 w-full flex-col items-center justify-center">
										<VariantComponent />
									</div>
									<div class="h-auto w-full px-8 text-sm">
										{files && <FileTabs files={files} />}
									</div>
								</div>
							)}
						</section>
					)
				})
		}
	</div>
	<ExampleTOC
		slot="toc"
		exampleLabel={PagePatternLabel}
		exampleName={PagePatternName}
		variants={variants}
	/>
</ExampleLayout>
