---
import { PATTERNS, TEMPLATES } from "../../../data"
import HamburguerIcon from "../../icons/HamburguerIcon.astro"

interface Props {
	slug: string
}

const { slug } = Astro.props

const getClassList = (templateLabel: string) => {
	return [
		"w-full",
		"inline-flex",
		"hover:text-white",
		"hover:font-[700]",
		{ "text-slate-400": slug !== templateLabel },
		{ "text-white": slug === templateLabel },
		{ "font-[700]": slug === templateLabel },
		{ underline: slug === templateLabel },
		{ "underline-offset-4": slug === templateLabel },
		{ "decoration-4": slug === templateLabel },
		{ "decoration-white": slug === templateLabel },
	]
}
---

<astro-stacked-header
	id="stacked-header"
	class="sticky top-0 z-40 flex w-full flex-col items-start justify-start gap-0 bg-zinc-900 md:top-16 md:w-1/5 md:bg-transparent"
>
	<div class="flex h-14 w-full flex-row items-center justify-between px-8 md:hidden md:px-0">
		<button role="button" id="toggle-nav-button" aria-expanded="false" aria-controls="navigation">
			<HamburguerIcon />
		</button>
	</div>
	<div class="relative flex w-full flex-col items-end justify-center md:h-full">
		<nav
			id="main-navigation"
			class="absolute top-0 flex h-0 w-full flex-col items-start justify-start gap-4 overflow-hidden bg-zinc-900 px-8 md:static md:h-auto md:overflow-auto md:bg-transparent"
		>
			<ul class="flex w-full flex-col items-start justify-center gap-8 md:items-center">
				<li class="flex w-full flex-col items-start justify-center gap-4 text-left">
					<h2 class="w-full font-bold">Templates</h2>
					<ul class="flex w-full flex-col items-start justify-center gap-4 pl-0">
						{
							TEMPLATES.map(({ name, href, label }) => {
								const classList = getClassList(label)
								return (
									<li class="w-full">
										<a class:list={classList} href={href}>
											{name}
										</a>
									</li>
								)
							})
						}
					</ul>
				</li>
				<li class="flex w-full flex-col items-end justify-center gap-4">
					<h2 class="w-full font-bold">Patterns</h2>
					<ul class="flex w-full flex-col items-end justify-center gap-4 pl-0">
						{
							PATTERNS.map(({ name, href, label }) => {
								const classList = getClassList(label)
								return (
									<li class="w-full">
										<a class:list={classList} href={href}>
											{name}
										</a>
									</li>
								)
							})
						}
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</astro-stacked-header>
<script src="../../../components/examples/templates/stacked/scripts/astro-stacked-header.ts"
></script>
<script src="../../../components/examples/templates/stacked/scripts/apply-nav-height.ts"></script>
