---
import { PATTERNS, TEMPLATES } from "../../../data"

interface Props {
	slug: string
}

const { slug } = Astro.props

const getClassList = (templateLabel: string) => {
	return [
		"w-full",
		"inline-flex",
		"hover:text-white",
		"hover:font-[700]",
		{ "text-slate-400": slug !== templateLabel },
		{ "text-white": slug === templateLabel },
		{ "font-[700]": slug === templateLabel },
		{ underline: slug === templateLabel },
		{ "underline-offset-4": slug === templateLabel },
		{ "decoration-4": slug === templateLabel },
		{ "decoration-white": slug === templateLabel },
	]
}
---

<nav
	id="main-navigation"
	class="absolute z-[80] flex h-0 w-full flex-col items-start justify-start gap-4 overflow-auto bg-slate-950 p-0 sm:static sm:h-auto sm:bg-transparent sm:p-8 sm:pr-0 md:p-8"
>
	<ul class="flex h-max w-full flex-col items-center justify-start gap-16 p-8 sm:p-0">
		<li class="flex w-full flex-col items-start justify-center gap-4 text-left">
			<h2 class="w-full text-xl font-bold">Templates</h2>
			<ul class="flex w-full flex-col items-start justify-center gap-4">
				{
					TEMPLATES.map(({ name, href, label }) => {
						const classList = getClassList(label)
						return (
							<li class="w-full">
								<a class:list={classList} href={href}>
									{name}
								</a>
							</li>
						)
					})
				}
			</ul>
		</li>
		<li class="flex w-full flex-col items-end justify-center gap-4">
			<h2 class="w-full text-xl font-bold">Patterns</h2>
			<ul class="flex w-full flex-col items-end justify-center gap-4">
				{
					PATTERNS.map(({ name, href, label }) => {
						const classList = getClassList(label)
						return (
							<li class="w-full">
								<a class:list={classList} href={href}>
									{name}
								</a>
							</li>
						)
					})
				}
			</ul>
		</li>
	</ul>
</nav>
